.THIS .af-participantIdInput,
.THIS .af-planYearInput {
    width: 150px;
    display: inline-block;
}

.THIS .af-accounts-table {
	width: 90% !important;
}

.THIS .af-error-container {
    background: rgba(194, 57, 52, 0.95);
    padding: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.25
}

.THIS .af-form-container {
	width: 550px;
	justify-content: start;
}

.THIS .af-account-container {
	width: 60%;
}

.THIS .dividerLine {
	border-width: 1.5px;
	border-color: token(AFAgrey3);
}

.THIS .slds-button:focus {
    box-shadow: none;
}