/* Make the bill's table header columns sticky and 
   show in the correct location for Current and Historical
   filters. */
.THIS .af-bill-table thead th {
    position: sticky;
    top: 160px;
    z-index: 10;
}

/* Update the location for the All filter since there
   is no description. */
.THIS .af-bill-table thead.af-all-filter th {
    top: 129px;
}

/* Make the bills header sticky so it always shows */
.THIS .af-bills-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.THIS .af-bill-table {
    max-width: 45rem !important;
    width:45% !important;
}

.THIS.af-error-container {
    background: rgba(194, 57, 52, 0.95);
    padding: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.25
}