.THIS {
    
}

.THIS .divider {
    border-top: 2px solid #EB0029;
    width: 80%;
}

.THIS .banner-arrow {
    background-color: #7DA1B0;
    height:80px;
    width:15px;
}

.THIS .form-name-feature {
    color: token(AFAteal5);
    text-decoration: underline;
    font-weight: bold;
    font-size: 11px;
}

.THIS .feature-width {
    width: 90%;
}

.THIS .feature-title {
    padding-left: 17%;
    font-weight: bold;
    color: #706e6b;
}